<% for(let err of errors)  {%>
<div class="alert alert-danger alert-dismissible fade show" role="alert">
    <%=err%>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<% } %>
<% for(let s of success) { %>
<div class="alert alert-primary alert-dismissible fade show" role="alert">
    <%=s %>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<% } %>

<form action="/api/users/edit-profile?_method=PUT" class='col form-signin align-items-start' method="POST">
    <input type="text" class="form-control" placeholder=<%=user.profile.name%> aria-label="Search" name="name">
    <br>
    <input type="text" class="form-control col" placeholder=<%=user.email%> aria-label="Search" name="email">
    <br>

    <input type="text" class="form-control col" placeholder="Address" aria-label="Search" name="address">
    <br>

    <button class="btn  btn-lg btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample"
        aria-expanded="false" aria-controls="collapseExample">
        Change password
    </button>
    </p>
    <div class="collapse" id="collapseExample">
        <input type="text" class="form-control col" placeholder="Old password" aria-label="Search" name="oldPass">
        <br>
        <input type="text" class="form-control col" placeholder="New password" aria-label="Search" name="newPass1">
        <br>

        <input type="text" class="form-control col" placeholder="Confirm new password" aria-label="Search"
            name="newPass2">
        <br>
    </div>


    <button class='btn btn-lg btn-primary btn-block  my-2 col' type="submit">Change Yo
        Shit</button>
</form>